name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:
  workflow_dispatch:

jobs:
  rust-checks:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt, clippy

      - name: Cargo fmt (check)
        run: cargo fmt --all -- --check

      - name: Cargo check
        run: cargo check --all-targets

      - name: Cargo test (compile)
        run: cargo test --all-targets --no-run

      - name: Cargo clippy
        run: cargo clippy --all-targets
